

.cont {
  background-image: url('/FINAL/contacto/DEMONIOI.png'), url('/FINAL/contacto/DEMONIOD.png');
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
  align-items: center !important;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: grey;
}
.logo  img {
  width: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: auto;
  float: left;
  margin-right: 10px; /* Ajusta el margen según tus necesidades */
}

.texto{

}



  .redes img {
    text-align: center;
  }



